#navbar{
    flex-direction: column;
    padding: 1rem 0;
    overflow: hidden;
    height: 100px;
}
#tranings .items{
    flex-direction: column;width: ;
}
#tranings .items .item{
    width: 100%;
}
#courses .course{
    flex-direction: column;
}